<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">PWA GMayaS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
      <li *ngIf="(auth.isAuthenticated() | async)" class="nav-item active">
        <a class="nav-link" href="admin">Admin</a>
      </li>
      <li *ngIf="!(auth.isAuthenticated() | async)" class="nav-item active">
        <a class="nav-link" href="register">Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div *ngIf="( auth.isAuthenticated() | async )" class="navbar-brand">
        <a *ngIf="( user | async )" class="navbar-brand mx-auto"> Hola: {{ (user | async)?.nameuser | titlecase}}</a>
      </div>
      <div class="btn-group">
        <button *ngIf="!(auth.isAuthenticated() | async)" type="button" (click)="entrar()"
          class="btn btn-warning my-2 my-sm-0">Entrar</button>
        <button *ngIf="(auth.isAuthenticated() | async)" type="button" (click)="salir()"
          class="btn btn-danger my-2 my-sm-0">Salir</button>
      </div>
    </form>
  </div>
</nav>